.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;.toast-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .toast-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(0, 0, 0, 0.3);
  }
  
  .toast-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 8px;
    transform: translate(-50%, -50%);
    background: black;
    color: #fff;
  }
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
