.toast-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.toast-mask {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgb(0, 0, 0, 0.3);
}

.toast-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  color: #fff;
  padding: 8px;
}